html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Lato', serif;
	margin-bottom: 100px;
	background-color: #F2F2F2;
}
footer.footer {
	z-index: -1;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 125px;
	background-color: #1A1A1A;
}
footer.footer .live-it-up {
	height: 65px;
	background-image: url('/img/live-it-up.png');
	background-repeat: no-repeat;
	background-position: 60% 10px;
	background-color: #F2F2F2;
}
footer.footer .bottom-link {
	background-image: url('/img/color-link-bottom.png');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #1A1A1A;
	color: #666666;
}
footer.footer .bottom-link .contact p {
	margin-top: 20px;
}
footer.footer .bottom-link .contact p a {
	color: #666666;
}
footer.footer .bottom-link .contact p a:hover {
	color: #e7e7e7;
	transition: all .25s linear;
}
.fa-btn {
	margin-right: 6px;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.panel-default > .panel-heading {
	background-image: url('/img/bottom.png');
	background-repeat: no-repeat;
	background-position: -1186px bottom;
	color: white;
	font-weight: bold;
}
.panel {
	background-color: rgba(255, 255, 255, 0.85);
}
#admin-content {
	background-color: rgba(255, 255, 255, 0.85);
}
#top-color-link {
	height: 21px;
	background-image: url('/img/color-link-top.png');
	background-position: center;
}
.footer .icons a.alcedo {
	background-image: url(/img/icon/alcedo.png);
	background-size: 40px auto;
}
.footer .icons a.aquamen {
	background-image: url(/img/icon/aquamen.png);
	background-size: 40px auto;
}
.footer .icons a.fb {
	background-image: url(/img/icon/fb.png);
	background-size: 40px auto;
}
.footer .icons a:hover {
	opacity: 1;
}
.footer .icons a {
	display: inline-block;
	width: 47px;
	height: 47px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	position: relative;
	top: 9px;
	margin: 0 3px;
	opacity: .6;
	transition: all .25s linear;
}
.navbar-brand img {
	width: 75px;
	position: relative;
	top: -41px;
}
@media (min-width: 768px) {
	.navbar-brand img {
		width: inherit;
		position: relative;
		top: -60px;
	}
}
.from-note {
	color: #7f7f7f;
}
table.table.summary ul {
	margin-bottom: 0;
}
table.table.summary tr td:nth-child(2),
table.table.summary tr th:nth-child(2) {
	text-align: right;
	text-wrap: none;
}
table.table tr.bg-paid {
	background-color: #dff0d8;
}
/*table.table tr bg-unpaid {
	background-color: #f2dede;
}
table.table tr canceled {
	background-color: #f2dede;
}*/
table.table tr.bg-reversed {
	background-color: #f2afea;
}
.form-group.days > div {
	padding-bottom: .7em;
}
.form-group.days .saturday {
	background: #e5f7e1;
}
.form-group.days .saturday > :first-child {
	font-size: 1.5em;
	color: #00420c;
}
.form-group.days .sunday, .form-group.days .friday {
	background: #ffe2f8;
}
.form-group.days .sunday > :first-child, .form-group.days .friday > :first-child {
	font-size: 1.5em;
	color: #9b3464;
}
.form-group.days .monday {
	background: #FFFCE1;
}
.form-group.days .monday > :first-child {
	font-size: 1.5em;
	color: #887e00;
}
.form-group.days .all {
	background: #e2eaff;
}
.support-color {
	color: #00920e;
}
.request-color {
	color: #8a0d21;
}
.admin-registration-view .player-note {
	background-color: #F2DEDE;
}
table.table.table-hover tbody tr:hover {
	background-color: #ffffff;
}
div.row.space {
	margin-bottom: 15px;
}
